h2 {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    margin-top: 57px;
    margin-left: 15px;

    position: relative;
}

h2::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 76%; /* Изменить ширину границы */
    border-bottom: 1px solid #D9D9D9;
}

.mainPage {
    max-width: 940px;
    margin: auto;
    text-align: center;
}

.inputGroup {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    margin-top: 53px;
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin-top: 60px;
    letter-spacing: 1px;
}

.inputGroup label {
    margin-bottom: 24px;
    margin-right: 78px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
